# Android Studio
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures

# OSX files
.DS_Store

# local configuration files
/local.properties

# NDK
.externalNativeBuild
